/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


* {
  box-sizing: border-box;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Krub', sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto auto 50px;
  color: #202020;
}
header, .persons, .main, #advantages, footer  {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  padding: 50px 10vw;
  flex-direction: column;
  color: #fff;
  text-align: center;
  background: #2b2b2b;
}
.title {
  margin-top: 0px;
  margin-bottom: 0px;
}
#endpoint {
  margin-top: 30px;
}
span.endpoint {
  display: inline-block;
  height: 40px;
  border-radius: 12px 12px 12px 12px;
  background-color: #ff4a4a;
  font-weight: 600;
  padding: 0px 10px;
}
input {
  font-family: 'Krub', sans-serif;
  font-size: 1rem;
  color: #242424;
  height: 40px;
  border: solid 0px #f8f8f8;
  border-radius: 12px;
  padding: 0 10px;
  background-color: #f8f8f8;
}
input.endpoint {
  width: 375px;
  position: relative;
  left: 10px;
  display: inline-block;
  border-radius: 0px 12px 12px 0px;
}
input.cep {
  border: solid 1px #e0e0e0;
  flex-grow: 2;
}
button {
  margin: 0 0 0 10px;
  padding: 0px 2vw;
  height: 40px;
  border-radius: 12px;
  border-width: 0px;
  background-color: #ff4a4a;
  color: #fff;
  transition: all 0s ease;
  font-weight: 500;
}
button:active {
  border-width: 0px 0px 0px 0px;
}
.main {
  margin: 25px 10vw;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
}
#section-left {
  width: 50%;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
}
#section-right {
  padding-left: 50px;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 50%;
}
#demo {
  width: 100%;
}
#response {
  padding: 10px 10px;
  border: solid 1px #e0e0e0;
  color: #242424;
  border-radius: 12px;
  background-color: #f8f8f8;
  min-height: 240px;
  text-align: left;
  max-width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > h2 {
  border-bottom: solid 3px #ff4a4a;
  transition: all 0.5s ease;
}
form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
footer {
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
}
footer p {
  margin: 0;
}
.persons {
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.persons img {
  margin: 15px;
  border-radius: 50%;
  width: 100px;
  border: solid 1px #e0e0e0;
  box-shadow: 0px 0px 1px 0px #000;
}
#advantages {
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
#advantages li {
  background-color: #ff4a4a;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 5px;
  width: 240px;
  transition: all 0.5s ease;
}

[data-balloon], a {
  text-decoration: underline;
  color: #ff4a4a;
}


/* Responsive Design */
@media (max-width: 950px) {
  #section-left, #section-right {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

  }
  .main {
    margin: 25px 10vw 0px 10vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .main:nth-of-type(2) {
    margin-bottom: 30px;
  }
  #response {
    margin-bottom: 0;
  }
}
@media (max-width: 580px) {
  input.endpoint {
    width: 60vw;
  }
}
@media (max-width: 370px) {
  button {
    margin: 10px 0 10px 0;
    font-size: 0.8rem;
  }
  form {
    flex-direction: column;
  }
}
@media (max-width: 330px) {
  input.endpoint {
    width: 50vw;
  }
}
@media (max-width: 220px) {
  input.endpoint {
    width: 30vw;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
